/* Color Palette */
$color_white: #F4F1ED;
$color_black: #111111;

$color_background: #EAEAEA;
$color_background_dark: #333333;
$color_modalfade: #00000099;

$color_glauceous: #5C80BC;
$color_ashgrey: #CBD4C2;
$color_darkspruce: #2A3C24;

$color_sagebrush: #8A9F83;
$color_peachcoral: #D9A197;
$color_warmtan: #C4A98D;
$color_darklavendar: #5E507D;

$color_darkemerald: #0F5132;
$color_mustardgold: #D4A017;