/* Import Modules */
@use "./sassvari" as scss;

.modal-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: scss.$color_modalfade;
}

.modal-main {
    position: fixed;
    padding: 25px;
    background: scss.$color_background;
    width: 750px;
    height: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.modal-display-show {
    display: block;
}

.modal-display-hide {
    display: none;
}