/* Import Modules */
@use "./sassvari" as scss;

/* Custom Animations */
@keyframes shake {
    0% { transform: rotate(0deg); } 
    10% { transform: rotate(2deg); }
    20% { transform: rotate(0deg); }
    30% { transform: rotate(-2deg); }
    40% { transform: rotate(0deg); }
    50% { transform: rotate(2deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-2deg); }
    80% { transform: rotate(0deg); }
    90% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.shake:active {
    animation-name: shake;
    animation-duration: 0.5s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
}

.positionTitle {
  color: scss.$color_darkspruce;
}

.statusIndicator {
  width: 225px;
  color: scss.$color_background_dark;
}

/* CSS Section Boxes */
.aboutEntries {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 40px 10px;
}

    /* About Divs */
    .terminal {
      border-radius: 10px;
      border: 5px solid transparent;
      box-sizing: border-box;
      color: scss.$color_ashgrey;
      background-color: scss.$color_background_dark;
      transition: border-color 0.25s ease;
    }

    .terminal:hover {
      cursor: cell;
      border-color: scss.$color_glauceous;
    }

    .terminal ::selection {
      text-shadow: none;
      color: scss.$color_black;
      background: scss.$color_glauceous;
    }

    .terminal .delayText_a {
      display: inline-block;
      padding-left: 10px;
      opacity: 0;
      animation: fadeIn 0.25s ease-in forwards;
      animation-delay: 2.15s;
    }

    .terminal .delayBlock_b {
      opacity: 0;
      animation: fadeIn 0.25s ease-in forwards;
      animation-delay: 2.65s;
    }

    .terminal .delayText_b {
      display: inline-block;
      padding-left: 10px;
      opacity: 0;
      animation: fadeIn 0.25s ease-in forwards;
      animation-delay: 4.15s;
    }

    .terminal .delayBlock_c {
      opacity: 0;
      animation: fadeIn 0.25s ease-in forwards;
      animation-delay: 4.65s;
    }

    .terminal .Bold {
      font-family: "Hackbold";
      color: scss.$color_peachcoral;
    }

    .terminal .Bold2 {
      font-family: "Hackbold";
      color: scss.$color_sagebrush;
    }

    .terminal .BoldItalic {
      font-family: "Hackbolditalic";
    }

    #aboutBio {
      font-family: "Hack";
      font-size: 0.8em;
      flex-basis: 65%;
      margin: 0px 25px 0px 0px;
      padding: 25px 75px 25px 25px;
    }

    #aboutSkills {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 35%;
      margin: 0px;
      padding: 25px 50px 25px 25px;
      border-radius: 5px;
      background-color: scss.$color_glauceous;
      color: scss.$color_white;
    }

.projectEntries {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 60px 10px; 
}

.stackEntries {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 60px 10px; 
}

    .container_grid {
      display: grid;  
      grid-template-columns: auto auto;
      justify-content: center;
      padding: 10px;
    }

    .container_grid .container_flex {
      margin-right: auto;
      padding: 25px;
      border: 2px dotted scss.$color_black;
      border-radius: 4px;
    }

.experEntries {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 60px 10px; 
}

.certEntries {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 60px 10px; 
}

/* CSS Header and Footer */
#foot-left {
  margin: 0px 100px 0px 0px;
  align-self: flex-end;
}

#foot-right {
  margin: 0px 0px 0px 100px;
  align-self: center;
}

/* CSS Flex Container  */
.pocket_flex {
  padding: 25px;
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-in;
}

.pocket_flex:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(10px);
}

.container_flex {
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
}

.container_flex div {
  justify-content: center;
}

.container_flex img {
  margin: 0px;
  padding: 5px;
  width: 50px;
  height: 50px;
}