@import "tailwindcss";

#root {
  font-family: "Jersey10";
  font-size: 24px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.mainTitle {
  margin: 5px;
  margin-bottom: 15px;
}

  .positionTitle {
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
      cursor .5s step-end infinite alternate;
  }

  @keyframes cursor {
    50% {border-color: transparent}
  }

.aboutEntries {
  display: flex;
}

  .aboutMe {
    width: 65%;
    padding: 25px;
    margin: 5px;
    margin-left: 20px;
  }

  .aboutBox {
    width: 35%;
    padding: 25px;
    margin: 5px;
  }

.projectEntries {
  margin: 5px;
  margin-bottom: 15px;   
}

.stackEntries {
  margin: 5px;
  margin-bottom: 15px;
}

  .stackItems {
    width: 50px;
    height: 50px;
  }

  .langItems {
    width: 50px;
    height: 50px;
  }

  .toolItems {
    width: 50px;
    height: 50px;
  }

.experEntries {
  margin: 5px;
}

.certEntries {
  margin: 5px;  
}
